diapo/main*
!diapo/main.tex

diapo/diapo_fred/main*
!diapo/diapo_fred/main.tex

diapo/diapo_melissa/main*
diapo/diapo_melissa/main.tex


gantt/gantt*
!gantt/gantt.tex

rapports/rapport_v0*
!rapports/rapport_v0.tex

rapports/rapport_v0_fred*
!rapports/rapport_v0_fred.tex

rapports/rapport_v0_melissa*
!rapports/rapport_v0_melissa.tex

.ipynb_checkpoints/