.ipynb_checkpoints/
.DS_Store
__pycache__/
.pytest_cache/

build/
docs/sphinx/_build

docs/presentation/project/presentation*
!docs/presentation/project/presentation.tex

docs/presentation/internship/presentation*
!docs/presentation/internship/presentation.tex

docs/gantt/gantt*
!docs/gantt/gantt.tex

docs/report/report*
!docs/report/report.tex

docs/meeting/parareal/diapo_1/diapo_1*
!docs/meeting/parareal/diapo_1/diapo_1.tex

docs/meeting/parareal/diapo_2/diapo_2*
!docs/meeting/parareal/diapo_2/diapo_2.tex

examples/cpp/enkf/plotlorenz1.csv
examples/cpp/enkf/plotlorenz2.csv
examples/cpp/enkf/plotetat.csv

.DS_Store
__pycache__/
.pytest_cache/
docs/sphinx/_build/
examples/cpp/parareal/data/*
node_modules/

docs/antora/cache
docs/antora/public

results