docs/presentation/presentation*
!docs/presentation/presentation.tex

docs/gantt/gantt*
!docs/gantt/gantt.tex

docs/report/report*
!docs/report/report.tex

lorenz/enkf/enkf.o
lorenz/enkf/run
lorenz/enkf/plotlorenz1.csv
lorenz/enkf/plotlorenz2.csv
lorenz/enkf/plotetat.csv

.ipynb_checkpoints/

.DS_Store
__pycache__/
.pytest_cache/
